* {outline: none;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul, menu{list-style:none; margin:0; padding:0;}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
a:link, a:visited, a:hover, a:active {text-decoration: none; outline: none !important;}
.clear { clear:both;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
textarea{overflow:auto;}


body{font-family:"Open Sans",Verdana,Helvetica,sans-serif; background:#ffffff;}

.site{ position:absolute; top:100%;width:100%; float:left;}

/*utility style*/
.col-padding{padding-left:50px !important;padding-right:50px !important;}
.no-margin{ margin-right:0 !important; margin-left:0 !important;}
.no-padding{padding-left:0px !important;padding-right:0px !important;}
.less-padding{padding-left:8px !important;padding-right:8px !important;}
/*utility style*/


.banner-head{ width:100%; float:left; position:absolute; min-height:100%;}
/*.header{ padding:30px 0 0 0;width:100%; float:left; position:relative; z-index:999;}*/



/*STICKY HEADER ON SCROLL*/

header {width: 100%; float:left;height: 95px; box-sizing:border-box;padding:22px 0;overflow:visible;position: fixed; 
/*background:rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%;*/


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,rgba(255, 255, 255, 0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,rgba(255, 255, 255, 0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */





top: 0;left: 0;z-index: 999;
  -webkit-transition: height 0.9s;
  -moz-transition: height 0.9s;
  -ms-transition: height 0.9s;
  -o-transition: height 0.9s;
  transition: height 0.9s;
 
 	-webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
    transition: all 0.50s;
  
  
  
   }
  header .navbar-brand > img,
  header #logo img {display: inline-block;width: 124px;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
    transition: all 0.50s; }
  header #nav {}
  header.smaller .navbar-nav a,
    header #nav a {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      header #nav a:hover {}
  header.smaller {
    height:95px;
    box-sizing:border-box;
    padding:22px 0;
    background:rgba(255, 255, 255, 1) none repeat scroll 0% 0%;
  	-webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
    transition: all 0.50s;
    border-bottom: 1px solid #cccccc;
	}
	header.smaller #logo{padding:10px 0 0 0; }
	header.smaller .navbar-brand > img,
    header.smaller #logo img {
      width: 80px;
      height: auto;
      font-size: 30px;
	  float:left;
	  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	   }
    /*header.smaller #nav { float: right; width: 38%; position: relative; top: -45px;}*/
	header .navbar-nav{ margin-top:4px !important;
	-webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
    transition: all 0.50s;}
	/*header.smaller .navbar-nav{ margin-top:-4px !important;
	-webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
    transition: all 0.50s;}*/
	header.smaller #tfnewsearch{}
	header.smaller .brstr-search .tftextinput{ height:20px;
	
	 -webkit-transition: height 0.9s;
  -moz-transition: height 0.9s;
  -ms-transition: height 0.9s;
  -o-transition: height 0.9s;
  transition: height 0.9s;
	}
	header.smaller .brstr-search .tfbutton{width:20px;height:20px;
	-webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
    transition: all 0.50s;}
.header #logo{ text-align:center; width:auto; float:none; margin:auto; padding:10px 0;}



/*STICKY HEADER ON SCROLL*/
.navbar-default{ background-color:transparent !important; border:none !important;}
.navbar-default .navbar-nav > li > a{ font-weight:600;font-size:16px !important;color:#fff !important;position:relative; padding-left:0;padding-right:0; position:relative;}
.navbar-default .navbar-nav > li > a .fa{ margin:0 8px 0 0;}
.navbar-default .navbar-nav > li{ margin:0 15px; }
.navbar-default .navbar-nav > li:after{background: #fff;content: "";display: block;height: 20px;position: absolute;right: -14px;top: 15px;width: 1px;}
.navbar-default .navbar-nav > li:last-child a:after{background: none;}
.navbar-default .navbar-nav > li a:hover:before{background: #fff none repeat scroll 0 0;bottom:5px;content: "";display: block;height: 2px; position: absolute;width: 100%;}
.navbar-brand{padding:8px !important; height:39px !important; margin:5px 0 0 0; width:220px !important; background:url(../images/logo.png) no-repeat; background-size:100%;}

.banner-head{ width:100%; float:none; /*background:url(../images/bg-banner.jpg) no-repeat center top;*/ background-size:cover;}

.banner-content{ width:100%; float:left; position:absolute; bottom:5%; background:rgba(255, 255, 255, 0.53);}

.navbar-default .dropdown-menu>li>a:hover:before, .dropdown-menu>li>a:focus:before {
	display: none;
}

.smaller .navbar-default .navbar-nav > li > a{ color:#4EAAFF !important;}
.smaller .navbar-default .navbar-nav > li:after{background: #4EAAFF;}
.smaller .navbar-default .navbar-nav > li a:hover:before{background: #4EAAFF;}

/*BANNER*/
/* carousel */
#quote-carousel{padding: 0 10px 30px 10px;margin-top: 30px;}

/* Control buttons  */
#quote-carousel .carousel-control{background: none;color: #222;  font-size: 2.3em;text-shadow: none;margin-top: 30px;}
/* Previous button  */
#quote-carousel .carousel-control.left {left: -25%;}
/* Next button  */
#quote-carousel .carousel-control.right {right: -25% !important;}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {right: 50%;top: auto;bottom: 0px;margin-right: -19px;}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {background: #c0c0c0;}
#quote-carousel .carousel-indicators .active { background: #333333;}
#quote-carousel img{ width: 39px; height: 102px}
/* End carousel */

.item blockquote {  border-left: none;  margin: 0;}
.item blockquote img { margin-bottom: 10px;}
/*.item blockquote p:before { content: "\f10d";font-family: 'Fontawesome';float: left;margin-right: 10px;}*/


/** MEDIA QUERIES */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
#quote-carousel {margin-bottom: 0;padding: 0 40px 30px 40px;}
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {     
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
#quote-carousel .carousel-indicators {bottom: -20px !important;}
#quote-carousel .carousel-indicators li {display: inline-block;margin: 0px 5px;width: 15px;height: 15px;}
#quote-carousel .carousel-indicators li.active {margin: 0px 5px;width: 20px;height: 20px;}
}

/*BANNER*/



.banner-content h2{ text-transform:uppercase; font-size:34px;}
.banner-content p{ color:#333333; text-transform:capitalize; font-size:20px;}

.btn-primary{ background:#31b14a !important;border:1px solid #ffffff !important;font-weight:lighter !important; color:#ffffff !important;width:100%;  transition: all 0.3s ease-out 0s; padding:6px 0 !important; line-height:normal !important; font-weight:bold !important; line-height: 28px !important; height:40px; text-transform:uppercase;font-size:16px !important;}
.btn-primary:hover{ background:none repeat scroll 0% 0% rgba(255, 255, 255, 0.7) !important; font-weight:lighter !important; color:#31b14a !important;width:100%; font-weight:bold !important; line-height: 28px !important;}
.input-sm, .form-group-sm .form-control{border: medium none !important;font-size: 16px !important;height: 40px !important;margin-bottom:10px; }
.locate{ background: url("../images/bg-locat.png") no-repeat 8px 8px  #ffffff !important; padding:0px 0 0 32px !important}

::-webkit-input-placeholder { /* WebKit browsers */ color: #595858 !important;font-size:14px;} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #595858 !important;font-size:14px;}
::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #595858 !important;font-size:14px;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color: #595858 !important;font-size:14px;}
 
.loyalty-prgm{width:100%;float:left;padding:30px 0;}
.loyalty-prgm h2{text-transform:uppercase;color:#4bbcff;font-size:28px;display:inline-block;font-weight:lighter;position:relative;padding:0 0 10px 0; margin: 0 0 20px 0;}
.loyalty-prgm h2:before{content:"";display:block;height:2px;width:110px;background:#a1a1a1; position:absolute; bottom:0;}
.loyalty-prgm p{color: #5c5c5c;font-size: 15px;line-height: 22px;}
.loyalty-prgm img{ display:block; margin:50px 0 0 0;}
 
.gift-card{background-attachment: scroll;background-clip: border-box;background-color: #e6e6e6;background-image: url("../../image/bg-gift-card.png");background-origin: padding-box;background-position: right center;background-repeat: no-repeat;float: left;  padding: 70px 0;width: 100%;}
.gift-card h2{text-transform:uppercase;color:#4bbcff;font-size:28px;display:inline-block;font-weight:lighter;position:relative;padding:0 0 10px 0; margin: 0 0 20px 0;}
.gift-card h2:before{content:"";display:block;height:2px;width:80px;background:#a1a1a1; position:absolute; bottom:0;}
.gift-card p{color: #5c5c5c;font-size: 15px;line-height: 22px;}


.card-mkt-place{padding:30px 0 0 0;width:100%;float:left;}
.card-mkt-place h2{text-transform:uppercase;color:#4bbcff;font-size:28px;text-align:right;font-weight:lighter;position:relative;padding:0 0 10px 0; margin: 0 0 20px 0;}
.card-mkt-place h2:before{content:"";display:block;height:2px;width:180px;right:0;background:#a1a1a1; position:absolute; bottom:0;}



.learn-cw{width:100%;padding:50px 0 120px 0;float:left;background: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #59BFFA),
	color-stop(0.47, #189DEA)
);
background-image: -o-linear-gradient(bottom, #59BFFA 0%, #189DEA 47%);
background-image: -moz-linear-gradient(bottom, #59BFFA 0%, #189DEA 47%);
background-image: -webkit-linear-gradient(bottom, #59BFFA 0%, #189DEA 47%);
background-image: -ms-linear-gradient(bottom, #59BFFA 0%, #189DEA 47%);
background-image: linear-gradient(to bottom, #59BFFA 0%, #189DEA 47%);}


.learn-cw h2{color: #ffffff;font-size: 28px;font-weight: bold;}
.learn-cw p{color: #ffffff;font-size:24px; font-weight:lighter;}

.col-lg-ad{width:21%;float:left;}
.col-lg-btn{width:16%;float:left;}

.top-footer{ background:#4d5a6e;width:100%;float:left;padding:40px 0 10px 0;}
.top-footer h2{font-size:18px; font-weight:600;color:#31b14a;}
.top-footer ul{margin:0 0 0 0;padding:0;}
.top-footer ul li{width:auto;display:block; margin:0 0 10px 0;}
.top-footer ul li a{color:#ffffff;font-size:14px; font-weight:lighter;}
.top-footer .cnct-us{}
.top-footer .cnct-us ul{}
.top-footer .cnct-us ul li{ display:block;color:#ffffff;font-size:14px; font-weight:lighter; position:relative;}
.top-footer .cnct-us ul li:first-child:before{margin:0 5px 0 0;content: "\f041";font-family:FontAwesome; color:#FF6E6E;}
.top-footer .cnct-us ul li:nth-child(2):before{content: "\f095";margin:0 5px 0 0;font-family:FontAwesome; color:#78FF3D;}
.top-footer .cnct-us ul li:nth-child(3):before{content: "\f0e0";font-family:FontAwesome;margin:0 5px 0 0; color:#B6AE13;}
.top-footer .cnct-us ul li:last-child a{border-radius: 20px;color: #ffffff;float: left;height: 22px;line-height: 20px; margin: 0 5px 0 0;text-align: center;width: 22px;}
.top-footer .cnct-us ul li:last-child a:first-child{background:#49bbeb;}
.top-footer .cnct-us ul li:last-child a:nth-child(2){background:#3d77c5;}
.top-footer .cnct-us ul li:last-child a:nth-child(3){background:#9b6dd3;}
.top-footer .cnct-us ul li:last-child a:last-child{background:#41c9af;}


/*FOOTER*/

.footer{ width:100%; float:left; background:#212930; padding:25px 0;}
.footer p{color:#ffffff; margin:auto; font-size:12px; font-weight:bold;}
.footer p a{color:#ffffff;}

				
				
/*FOOTER*/




/*INNER PAGE*/

.inner-page{width:100%;float:left;margin:50px 0 0 0;}
.company-page{width:100%;float:left;}
.company-page h1{font-size: 28px;font-weight: lighter;margin: 0 0 20px;text-transform: uppercase;color:#333333;}
.company-page p{color: #666666;font-size: 16px;font-weight: lighter;margin: 0 0 15px;}


.innerHeader{
	width: 100%;
	min-height: 95px;
	background-image: url(../bgs/7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*INNER PAGE*/